<h1><%= @channel.name %> 
  <% if Time.zone.now.to_date == @date.to_date %>
    today
  <% else %>
    <%= distance_of_time_in_words(Time.zone.now.to_date, @date) %> ago
  <% end %>
  <small>(<%= @date.strftime("%d %b %Y") %>)</small>
</h1>

<%= render 'pagination' %>

<p>
  <label for='show_events'>
    <input id='show_events' type='checkbox'> Show joins + parts
  </label>
</p>

<div id='messages'>
  <% unless @messages.exists? %>
    There are no messages... yet.
  <% end %>
  <%= render @messages %> 
</div>

<%= render 'pagination' %>
