<h2><%= @person.nick %></h2>

<div id='messages'>
  <% if @messages.empty? %>
    There are no messages... yet.
  <% end %>
  <%= paginate(@messages) %>
  <% @messages.group_by { |m| m.created_at.to_date }.each do |day, messages| %>
    <h3><%= day %></h3>
    <%= render messages.sort_by { |a| a.created_at } %>
  <% end %>
  <%= paginate(@messages)
</div>
