<h2><%= @person.nick %></h2>

<%= link_to "Activity Graph", person_activity_path(@person) %>

<p>
  <label for='show_events'>
    <input id='show_events' type='checkbox'> Show joins + parts
  </label>
</p>

<div id='messages'>
  <% if @messages.empty? %>
    There are no messages... yet.
  <% end %>
  <%= paginate(@messages) %>
  <% @messages.group_by { |m| m.created_at.to_date }.each do |day, messages| %>
    <h3><%= day %></h3>
    <%= render messages.sort_by { |a| a.created_at } %>
  <% end %>
  <%= paginate(@messages) %>
</div>
