<!DOCTYPE html>
<html>
<head>
  <title>Logs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>

  body {
    shape-rendering: crispEdges;
  }

  .day {
    fill: rgb(240,240,240);
    stroke: #fff;
    stroke-width: 2;
  }

  .month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
  }

  .colours .q0-11{fill:rgb(230,230,230)}
  .colours .q1-11{fill:rgb(222,231,180)}
  .colours .q2-11{fill:rgb(214,232,129)}
  .colours .q3-11{fill:rgb(178,216,113)}
  .colours .q4-11{fill:rgb(142,200,96)}
  .colours .q5-11{fill:rgb(108,183,77)}
  .colours .q6-11{fill:rgb(96,170,69)}
  .colours .q7-11{fill:rgb(84,157,61)}
  .colours .q8-11{fill:rgb(72,144,53)}
  .colours .q9-11{fill:rgb(59,131,45)}
  .colours .q10-11{fill:rgb(47,118,37)}
  .colours .q11-11{fill:rgb(35,105,29)}

  </style>
  <body>
</head>

<body>
  <h1><%= link_to "Logs", root_path %></h1>

<%= yield %>

</body>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '51117a7d108d7b3cd60000ad');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</html>
